  <div class="cards" *ngIf="products && products.length!=0" >
    <div class="card" *ngFor="let product of products|customFilter:searchData">
      <div class="item"    *appCheckCart="product; let isInCart ">
        <a class="image" [routerLink]="['/productDetails', product.id]">

          <div class="img-box" >
            <img [src]="product.image" alt="Awesome Sunglasses" />
          </div>
        </a>
        <div class="details">
          <h2>
            {{ product.title }}<br /><span>{{ product.category }}</span>
          </h2>
          <div class="price">{{ product.price | currency }}</div>

          <a
            *ngIf="!isInCart && !product.addedToCart else added"
            class="text-white"
            (click)="addToCart(product)"
            >Add to cart</a
          >
          <ng-template #added>
            <a class="text-white  " (click)="addToCart(product)">
              <img
                class="icon"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzmOMLSUID7E9evtFv3_g2Rd0oIUUvkw_rqw&usqp=CAU"
              />
              added</a
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
